{% load static %}
{% include 'navbar.html' %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body style="background: #34404d">
    <div class="container">
        <h1 style="text-align: center; color: white">Home</h1>
        <h3 style="text-align: center; color: white; margin-top: 25vh">This is a simple webapp that allows you to add and manage invoices</h3>
    </div>
</body>
</html>