{% load static %}
{% load crispy_forms_tags %}
<head xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" type="text/css" href="{% static 'css/invoicesList.css' %} ">
    <title>{{ title }}</title>
</head>

<!DOCTYPE html>
{% include 'navbar.html' %}
<br>
<html lang="en">
    <body>
        {% if updated %}
            <div class="popup" id="popup">
                <img src=" {% static 'img/save.png' %}"/>
                <h2 id="h2">Invoice Updated Successfully! ✏️</h2>
                <button id="button" type="button" onclick="closePopUp()">Ok</button>
            </div>
        {% endif %}
        {% if deleted %}
            <div class="popup" id="popup">
                <img src=" {% static 'img/delete.png' %}"/>
                <h2 id="h2">Invoice Deleted Successfully! ✏️</h2>
                <button id="button" type="button" onclick="closePopUp()">Ok</button>
            </div>
        {% endif %}
        <form method="POST" action=""  class="myForm" novalidate>{% csrf_token %}
            <div class="inputContainer">
                <div class="inputBox">
                    {{ form.invoice_number }}
                    <span>Invoice Number</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    {{ form.name }}
                    <span>Customer Name</span>
                    <i></i>
                </div>
            </div>
            <div class="btnContainer">
                <button type="submit" class="search"><span>Search</span></button>
                <button type="submit" name="reset"><span>Reset</span></button>
            </div>
        </form>
        <div class="scrollContainer">
            <div class="scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th>COUNT</th>
                            <th>INVOICE NUMBER</th>
                            <th>DATE</th>
                            <th>CUSTOMER NAME</th>
                            <th>AMOUNT</th>
                            <th>PAID</th>
                            <th>EDIT</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    {% for instance in queryset %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{instance.invoice_number}}</td>
                            <td>{{instance.invoice_date}}</td>
                            <td>{{instance.name}}</td>
                            <td>{{instance.total}} €</td>
                            <td>
                                {% if instance.paid %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td><a href="{% url 'update_invoice' instance.id %}">EDIT</a></td>
                            <td><a href="{% url 'delete_invoice' instance.id %}">DELETE</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    <script>
        let popup = document.getElementById('popup');
        let button = document.getElementById('button');
        let h2 = document.getElementById("h2");
        function closePopUp(){
            popup.classList.add("remove")
            button.classList.add("remove")
            h2.classList.add("remove")
        }
    </script>
    </body>
</html>
